<div class="hide-button" location="hide-button"></div>

<div class="event-details">
	<div class="room" location="room"></div>
	<div class="time" location="time"></div>
	<div class="track" location="track"></div>
	<div class="title" location="title"></div>
	<div class="attending-button" location="attending-button"></div>
	<div class="not-attending-button" location="not-attending-button"></div>
	<div class="speakers" location="speakers"></div>
	<div class="abstract" location="abstract"></div>
	<div class="tags" location="tags"></div>
	<div class="add-this" location="add-this"></div>
</div>