@import url(../reindeer/styles.css);

.v-generated-body .v-app {
	background: #292a29;
	font-family: Helvetica, sans-serif;	
}

.v-button-link:focus {
	outline: none !important;	
}

.v-calendar-back, .v-calendar-next {
	cursor: pointer;	
}
.v-calendar-header-week {
	display: none;	
}

.event-details-panel,
.calendar-panel {
	background: url("img/calendar-bg.png") #494846 top left;
}
.v-theme-devoxx2k10 .v-calendar,
.v-panel-content-calendar-panel > div,
.v-panel-content-event-details-panel > div {
	background: transparent;
}

.v-theme-devoxx2k10 .v-calendar-event-caption {
	left: 0;
	top: 0;
	padding: 4px 9px;
	font-size: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}
.v-theme-devoxx2k10 .v-calendar-event-caption span {
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);
}
.v-theme-devoxx2k10 .v-calendar-event-content {
	opacity: 1.0 !important;	
	border: none;
	margin: 1px;
}
.v-theme-devoxx2k10 .v-calendar-time {
	font-size: 12px;
	color: #8a8885;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
	border-color: transparent;
}
.v-theme-devoxx2k10 .v-calendar-weekly-longevents {
	display: none;	
}
.v-theme-devoxx2k10 .v-calendar-day-times {
	border-color: transparent; 	
}
.v-theme-devoxx2k10 .v-calendar-day-times .v-slot {
	background: url("img/slot-bg.png") bottom left repeat-x;
	border-bottom: 1px solid #51504e;	
}
.v-theme-devoxx2k10 .v-calendar-day-times .v-slot-even {
	border-bottom: 1px solid transparent;	
}

/* Event types */
.v-theme-devoxx2k10 .v-calendar-event-content {
	background: url("img/default-gradient.png") top left repeat-x #413e3a;
}
.v-theme-devoxx2k10 .v-calendar-event-caption {
	color: #fff;
}
.v-calendar-event-talk .v-calendar-event-content {
	background: url("img/talk-gradient.png") top left repeat-x #76756c;
}
.v-calendar-event-keynote .v-calendar-event-content {
	background: url("img/keynote-gradient.png") top left repeat-x #00a0d6;
}
.v-calendar-event-registration .v-calendar-event-content,
.v-calendar-event-breakfast .v-calendar-event-content {
	background: url("img/registration-gradient.png") #e18007 top left repeat-x;
}
.v-calendar .selected .v-calendar-event-content {
	background: #efefe6;
}
.v-calendar .selected  .v-calendar-event-caption span {
	text-shadow: none;	
}
.v-calendar .selected .v-calendar-event-caption {
	font-weight: bold;
	color: #2f2e2d;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
}

.v-calendar-event.attending .v-calendar-event-resizebottom {
	height: 60px;
	width: 60px;
	background: url("img/attending-badge.png") transparent bottom left no-repeat;
	cursor: default;	
}


/* Rooms */
.v-theme-devoxx2k10 .at-room4 .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-room5 .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-room6 .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-room7 .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-room8 .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-room9 .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-hollywoodlounge .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-bof1 .v-calendar-event-caption,
.v-theme-devoxx2k10 .at-bof2 .v-calendar-event-caption {
	height: 100%;
	background-color: transparent;
	background-position: 98% 98%;
	background-repeat: no-repeat;
}
.v-theme-devoxx2k10 .at-room4 .v-calendar-event-caption { background-image: url("img/room4.png"); }
.v-theme-devoxx2k10 .at-room5 .v-calendar-event-caption { background-image: url("img/room5.png"); }
.v-theme-devoxx2k10 .at-room6 .v-calendar-event-caption { background-image: url("img/room6.png"); }
.v-theme-devoxx2k10 .at-room7 .v-calendar-event-caption { background-image: url("img/room7.png"); }
.v-theme-devoxx2k10 .at-room8 .v-calendar-event-caption { background-image: url("img/room8.png"); }
.v-theme-devoxx2k10 .at-room9 .v-calendar-event-caption { background-image: url("img/room9.png"); }
.v-theme-devoxx2k10 .at-hollywoodlounge .v-calendar-event-caption { background-image: url("img/java.png"); }
.v-theme-devoxx2k10 .at-bof1 .v-calendar-event-caption { background-image: url("img/bof1.png"); }
.v-theme-devoxx2k10 .at-bof2 .v-calendar-event-caption { background-image: url("img/bof2.png"); }
.v-theme-devoxx2k10 .v-calendar-event-keynote .v-calendar-event-caption { background-image: url("img/devoxx.png"); }

.v-theme-devoxx2k10 .selected.at-room4 .v-calendar-event-caption { background-image: url("img/room4-inv.png"); }
.v-theme-devoxx2k10 .selected.at-room5 .v-calendar-event-caption { background-image: url("img/room5-inv.png"); }
.v-theme-devoxx2k10 .selected.at-room6 .v-calendar-event-caption { background-image: url("img/room6-inv.png"); }
.v-theme-devoxx2k10 .selected.at-room7 .v-calendar-event-caption { background-image: url("img/room7-inv.png"); }
.v-theme-devoxx2k10 .selected.at-room8 .v-calendar-event-caption { background-image: url("img/room8-inv.png"); }
.v-theme-devoxx2k10 .selected.at-room9 .v-calendar-event-caption { background-image: url("img/room9-inv.png"); }
.v-theme-devoxx2k10 .selected.at-hollywoodlounge .v-calendar-event-caption { background-image: url("img/java-inv.png"); }
.v-theme-devoxx2k10 .selected.at-bof1 .v-calendar-event-caption { background-image: url("img/bof1-inv.png"); }
.v-theme-devoxx2k10 .selected.at-bof2 .v-calendar-event-caption { background-image: url("img/bof2-inv.png"); }
.v-theme-devoxx2k10 .selected.v-calendar-event-keynote .v-calendar-event-caption { background-image: url("img/devoxx-inv.png"); }
.v-theme-devoxx2k10 .short-event .v-calendar-event-caption {
	background-image: none !important;	
}

.v-calendar-my-schedule .v-calendar-event {
	opacity: 0.2;
}
.v-calendar-my-schedule .v-calendar-event.attending {
	opacity: 1.0;	
}

.v-csslayout-toolbar .v-checkbox {
	color: #acaaa7;
	font-size: 13px;
	margin-left: 57px;
	cursor: pointer;
}
.v-csslayout-toolbar .v-checkbox label {
	padding-left: 5px;
}

/* Navigation */
.navigation .v-panel-content > div {
	background: #f9e6be;	
}
.navigation .v-panel-content {
	border: none;	
}
.navigation .v-panel-deco {
	display: none;	
}
.navigation .v-label {
	color: #cb7200;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.5);
}
.navigation .day-selector {
	margin-top: 8px;	
}
.navigation .day-selector .day {
	padding: 2px 13px;
	margin-bottom: 5px;
	cursor: pointer;
}
.navigation .day-selector .selected {
	background: url("img/day-selector-gradient.png") #343433 top left repeat-x;
	cursor: default;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.navigation .day-selector .day .v-label {
	font-size: 14px;
	color: #313131;
	cursor: pointer;
}
.navigation .day-selector .selected .v-label {
	color: #fff;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.navigation .day-selector .day span {
	float: right;	
}

/* Details */
.event-details {
	color: #b5b2ad;
	padding: 15px 20px;
}
.event-details .room .v-label {
	color: #ff9001;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1em;
}
.event-details .time,
.event-details .track {
	color: #9b9892;
}
.event-details .title {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0;	
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}
.event-details-panel .hide-button,
.v-csslayout-toolbar {
	background: url("img/toolbar-bg.png") #323130 top left repeat-x;
	height: 33px;
	padding-top: 10px;
}
.event-details-panel .hide-button .v-button {
	float: right;
	margin-right: 15px;
}
.event-details-panel .hide-button .v-button-caption {
	display: block;
	color: #acaaa7;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	padding-right: 28px;
	padding-top: 5px;
	background: url("img/sidebar-collapse.png") transparent center right no-repeat;
	min-height: 17px;
}

.event-details .attending-button .v-button-wrap,
.event-details .attending-button .v-button {
	background: transparent;	
}
.event-details .attending-button .v-button {
	border: 1px solid #272726;
	height: 20px;
	background: url("img/attending-button-bg.png") #333332 top left repeat-x;
	cursor: pointer;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	
	-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}
.event-details .attending-button .v-button-wrap {
	padding: 1px 12px 0 9px;	
}
.event-details .attending-button .v-button-caption {
	color: #cbc7c0;
	font-size: 12px;
	font-weight: normal;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.33);
}


.speakers-layout {
	background: #363634;
	margin: 15px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: inset 0 1px 3px #222;
	-webkit-box-shadow: inset 0 1px 3px #222;
	box-shadow: inset 0 1px 3px #222;	
}

.speakers-layout .v-button-caption {
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	color: #f08800;	
}

.speaker-details .v-button .v-button-caption {
	padding-left: 10px;
	background: url("img/arrow-right.png") center left no-repeat;
}
.speaker-details .v-button-open .v-button-caption {
	background: url("img/arrow-down.png") center left no-repeat;	
}

.speaker-details p {
	font-size: 11px;
	color: #b5b2ad;
}
.speaker-details img {
	float: right;
	width: 64px;
	height: 70px;
	margin: 5px;
	-moz-box-shadow: 0px 2px 5px #000;	
	-webkit-box-shadow: 0px 2px 5px #000;	
	box-shadow: 0px 2px 5px #000;	
}
